* {
    margin: 0;
    padding: 0;
  }
  #wrapper {
    width: 100%;
  }
  header {
    border-bottom: 2px solid #9fb7d4;
  }
  #toplogo {
    width: 200px;
    height: 40px;
    margin: 10px auto;
  }
  #toplogo img {
    width: 100%;
    height: auto;
  }
  /*----------------------------------------------------------------------*/
  #container {
    overflow: hidden;
    margin: 10px auto 0 auto;
    background: #ddd;
  }
  #container #column1 {/*カラム1*/
    background: #9fb7d4;
    padding: 10px;
  }
    #container p,
    #container #column1 p,
    #container #column2 p {
      padding: 10px;
    }
    #container p .txt-pc {
      display: none;
    }
  /*----------------------------------------------------------------------*/
  footer {
    border-top: 2px solid #9fb7d4;
  }
  #copyright {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
  }
  
  @media (min-width: 769px) {
  header {
    min-width: 1200px;
  }
  #container {
    display: flex;
    width: 1200px;
  }
  #container #column1 {/*カラム1*/
    flex: auto;
    order: 2;
  }
    #container p .txt-pc {
      display: inline-block;
    }
    #container p .txt-sp {
      display: none;
    }
  footer {
    min-width: 1200px;
  }
  /* ** */}
  