
  header {
    border-bottom: 2px solid #9fb7d4;
  }
  body {
    font-family: "Yu Gothic",serif;
    background: url("haikei.png") ;  
    }
  #toplogo {
    width: 200px;
    height: 40px;
    margin: 10px auto;
  }
  #toplogo img {
    width: 100%;
    height: auto;
  }
  /*----------------------------------------------------------------------*/
  /*{
    margin: 1em;
    padding: 1em;
  }*/
  #f-container {
    display: flex;
    overflow: hidden;
    margin: 1em;
    background: #ffccf98a;
  }
  
  /*----------------------------------------------------------------------*/
  footer {
    border-top: 2px solid #9fb7d4;
  }
  #copyright {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
  }
 