body {
    font-family: "Yu Gothic",serif;
    background: url("haikei.png") ;  
}

h1{
    padding: 30px 5px 5px 10px;
    font-size: 2em;
    color: #608be7
}

dt{
    padding-left: 1em;
}

dd{
    padding: 1em 0 .3em .5em;
  }

div.line{
    margin: 1em;
    border: solid 1px #ff00ff;
    float: left;
    padding-bottom: 2em; 
}

clear{
    clear: left;
}

footer{
    margin-left: 10em;
  
}


